.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post3galaxy {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post3galaxy2 {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    margin: 15px 25px 5px;
}