body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    background-color: rgb(0, 0, 0);
    height: 10.072vh;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 500;
}

#logo {
    height: 45%;
    width: 2.344%;
    margin-left: 55px;
    margin-right: 25px;
}

#logo:hover {
    transition: 0.3s;
    cursor: pointer;
    height: 55%;
    width: 2.8%;
    margin-left: 50px;
    margin-right: 20px;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin-right: 65px;
}

.main-button {
    cursor: pointer;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    box-shadow: none;
}

.main-button:hover {
    background-color: rgb(20, 20, 20);
}

.dropdown-content {
    display: none;
    margin-top: 3.55%;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 15px 45px;
    border: none;
    background-color: #000000;
    color: #fff;
    text-align: left;
}

.a {
    text-decoration: none;
}

.button-4 {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.button-4 .a:hover,
.button-4 .a:focus,
.button-4 .a:active {
    text-decoration: none;
    color: white;
    outline: none;
}

.dropdown-content button:hover {
    background-color: rgb(24, 24, 24);
}

#headername {
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-size: 1.15vw;
    min-width: 290px;
    margin-right: auto;
}

.header.hidden {
    display: none;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: rgb(24, 24, 24);
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 19px 23px;
    cursor: pointer;
    z-index: 500;
}

#scrollToTopBtn:hover {
    background-color: rgb(187, 187, 187);
    color: #000000;
}

.container {
    margin-top: 0; 
    position: relative;
    width: 100%;
    height: 90.132vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    position: absolute;
    top: 3vh;
    left: 25vw;
    right: 15vw;
    bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 3; 
    padding: 20px;
    width: 31.5299%;
}

.large-text {
    font-size: 6.44512vh;
    margin-bottom: 1.6113vh;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.small-text {
    font-size: 1.77vh;
    margin-bottom: 1.6113vh;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.button-container {
    margin-top: 1.6113vh;
    text-align: center;
}

.button-container button {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    padding: 1.6113vh 1.6667vw;
    cursor: pointer;
    font-family: 'Krub', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover {
    background-color: white;
    color: black;
}

.background-image {
    margin-top: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 990px;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; 
    opacity: 0.9;
    filter: brightness(0.5);
}

.timer {
    height: 17.624vh;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.timertext {
    color: #fff;
    font-size: 2.81974vh;
}

#countdown {
    color: #fff;
    font-size: 4.8338vh;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.1rem;
}

.inner-container {
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    padding: 0;
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.additional-container {
    background-color: #00000000;
    border: 1px solid rgb(250, 250, 250);
    margin-left: 10%; 
    margin-right: 10%; 
    height: 1048px;
    width: 980px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
}

.allposts {
    height: 80px;
    min-height: 80px;
    width: 100%;
    background-color: rgb(250, 250, 250);
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.postinfo {
    display: flex;
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
    border-top: 1px solid rgb(223, 223, 223);
    padding-top: 10px;
    padding-bottom: 5px;
    z-index: 5;
    width: 85%;
    margin: 0 auto;
    color: rgb(185, 185, 185);
}

.postinfo h4 {
    margin: 0;
    margin-left: 72.4%;
    font-size: 15px;
    font-weight: 300;
    color: rgb(185, 185, 185);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.45s ease, visibility 0.45s ease;
}

.postauthor {
    display: flex;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 2px;
    z-index: 5;
    width: 85%;
    margin: 0 auto;
    color: rgb(185, 185, 185);
    font-size: 17px;
    border-bottom: 1px solid rgb(223, 223, 223);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.45s ease, visibility 0.45s ease;
}

.post:hover .postauthor {
    opacity: 1;
    visibility: visible;
}

.post:hover .postinfo h4 {
    opacity: 1;
    visibility: visible;
}

.post {
    flex: 1;
    flex-basis: calc(50% - 10px);
    height: 454px;
    max-width: 460px;
    margin: 15px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
}

.post img {
    width: 100%;
    min-height: 100%;
    display: block;
    opacity: 0.92;
    margin: auto;
    object-fit: cover;
    filter: brightness(0.7);
}

.post p {
    text-align: left;
    line-height: 38px;
    margin-left: 18px;
    position: absolute;
    z-index: 1;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 22.5px;
    bottom: 5px;
    color: rgb(221, 221, 221);
}

.poststext {
    text-align: left;
    line-height: 38px;
    font-size: 20px;
    margin-left: 18px;
    position: absolute;
    text-decoration: none;
    color: black;
    font-weight: 100;
}

.split-container {
    display: flex;
    height: 810px;
}

.left-box,
.right-box {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.left-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(24, 24, 24);
}

.inner-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 600px;
    height: 616px;
    background-color: #fff;
}

.sub-box {
    background-color: rgb(24, 24, 24);
    color: #ffffffc2;
}

.sub-box:first-child {
    height: 15%;
    width: calc(100% - 35px);
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 35px;
    font-size: 38px;
    font-weight: bold;
}

.sub-box:nth-child(2),
.sub-box:nth-child(3) {
    height: 42.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-box:nth-child(2) .sub-sub-box,
.sub-box:nth-child(3) .sub-sub-box {
    width: 45%;
    height: 100%;
    min-height: 261px;
    min-width: 261px;
    max-height: 261px;
    max-width: 261px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    padding-left: 35px;
    font-size: 25px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.6s ease;
}

.sub-sub-box:hover {
    background-color: rgb(35, 35, 35);
}

.sub-box:nth-child(2) .sub-sub-box p,
.sub-box:nth-child(3) .sub-sub-box p {
    margin: 5px 0; 
}

.right-box {
    background-color: rgb(90, 90, 90);
    overflow: hidden;
    position: relative;
}

.right-box img {
    display: block;
    position: absolute;
    min-width: 100%;
}

#slideshow, #slideshow-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}

#slideshow-back {
    opacity: 0;
}

.nasa {
    transition: background-color 1.5s ease;
    
}

.nasa.fade {
    background-color: rgba(0, 0, 0, 0.5);
}

.nasainfo {
    display: flex;
    height: 895px;
}

.nasa-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 102%;
    min-height: 999px;
    background-image: url('/images/nasa.jpg');
    background-size: cover;
    background-position: 50% 50%;
    z-index: -2;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nasatext {
    margin-top: 10%;
    margin-left: 10%;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 23px;
}

.sentence {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.sentence.visible {
    opacity: 1;
    transform: translateX(0);
}

.maptext {
    display: flex;
    padding: 20px 0; 
    height: 7vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.22vh;
}

#map {
    width: 100%;
    height: 55.388vh; 
}

footer {
    background-color: rgb(0, 0, 0); 
    color: #fff; 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 0; 
    height: 7vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

.footer-content {
    display: inline-block;
}

.leaflet-tile-pane {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.leaflet-bottom.leaflet-right {
    visibility: hidden;
}

.leaflet-marker-icon {
    filter: hue-rotate(145deg); 
}

@media only screen and (max-width: 430px) {

    body {
        min-width: 430px;
    }
    
    .header {
        display: flex;
        width: 100%;
        height: 60px;
        justify-content: center;
        flex-wrap: wrap;
    }

    #logo {
        margin: auto;
    }
    
    #logo:hover {
        transition: 0.3s;
        cursor: pointer;
        height: 45px;
        width: 45px;
        margin: auto;
    }

    #headername {
        display: flex;
        margin: auto;
        justify-content: center;
    }

    .header-container {
        display: flex;
        margin: auto;
    }

    .dropdown-content {
        display: none;
        margin-top: 47px;
        right: 0;
        position: absolute;
        background-color: #333;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .content-container {
        margin: 0 auto;
        padding: 10px;
        max-width: 767px;
        min-width: 350px;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
    }

    #scrollToTopBtn {
        display: none;
        position: fixed;
        bottom: 19px;
        right: 19px;
        background-color: rgb(24, 24, 24);
        color: #ffffff;
        border: none;
        border-radius: 50px;
        padding: 2% 3.5%;
        cursor: pointer;
        z-index: 500;
    }

    .container {
        margin-top: 0; 
        position: relative;
        width: 100%;
        height: 560px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/images/background.jpg');
        background-size: cover;
        background-position: 50% 50%;
        z-index: -1; 
        opacity: 0.9;
        filter: brightness(0.5);
    }

    .large-text {
        display: flex;
        text-align: center;
        width: auto;
        font-size: 2.5rem;
    }

    .small-text {
        font-size: 1rem;
    }

    .timer {
        height: 125px;
    }

    #countdown {
        font-size: 2rem;
    }

    .timertext {
        font-size: 18px;
    }

    .inner-container {
        height: 100%;
    }

    .additional-container,
    .posts,
    .post {
        width: 100%;
    }

    .additional-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0;
        margin: 0;
        border: 0;
    }

    .posts {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: auto;
        height: 100%;
    }

    .post {
        width: 350px;
        height: 250px;
        flex-basis: auto;
        margin: 15px 0;
    }

    .post img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .post p,
    .postauthor,
    .postinfo {
        margin-left: 0;
        margin-right: 0;
    }

    .post p {
        font-size: 18px;
        margin-left: 10px;
    }

    .postinfo h4 {
        margin-left: 0;
    }

    .postauthor,
    .postinfo {
        margin-left: auto;
        margin-right: auto;
    }

    .postinfo {
        justify-content: right;
    }

    .split-container {
        display: flex;
        flex-direction: column;
        min-height: 877px;
    }

    .left-box,
    .right-box {
        width: 100%;
        flex: 1;
    }

    .left-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        max-height: 550px;
    }

    .right-box{ 
        padding: 0;
        height: 370px;
    }

    .inner-box {
        max-width: 100%;
        height: auto;
    }

    .inner-box .sub-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sub-box:first-child {
        height: auto;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        font-size: 28px;
    }

    .sub-box:nth-child(2),
    .sub-box:nth-child(3) {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sub-box:nth-child(2) .sub-sub-box,
    .sub-box:nth-child(3) .sub-sub-box {
        width: 80%;
        min-height: 100px;
        max-height: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        font-size: 18px;
    }

    .sub-sub-box {
        transition: none;
    }

    .right-box {
        height: 356.5px;
    }

    .right-box img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .nasatext {
        margin-top: 7%;
        margin-left: 5%;
        margin-bottom: 7%;
    }

    .nasainfo {
        height: auto;
    }

    .maptext {
        height: 50px;
        font-size: 18px;
    }

    #map {
        width: 100%;
        height: 400px; 
    }

    footer {
        height: auto;
        padding: 10px 0;
    }
}

@media only screen and (max-width: 1400px) {
    .split-container {
        max-height: 620px;
    }
    
    .left-box,
    .right-box {
        max-height: 620px;
    }
}

@media only screen and (min-width: 1401px) {
    .split-container {
        max-height: none;
        height: 810px;
    }

    .left-box,
    .right-box {
        max-height: none;
    }
}

@media only screen and (min-width: 431px) and (max-width: 1400px) {
    .split-container {
        height: auto;
        min-height: 620px;
    }

    .left-box,
    .right-box {
        min-height: 310px;
    }

    .inner-box {
        height: auto;
    }

    .sub-box:nth-child(2) .sub-sub-box,
    .sub-box:nth-child(3) .sub-sub-box {
        min-height: 200px;
        max-height: none;
    }
}